src/flows/air-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>fimale</name>
        <choiceText>fimale</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>male</name>
        <choiceText>male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>male1</name>
        <choiceText>male1</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>decision1</name>
        <label>decision1</label>
        <locationX>545</locationX>
        <locationY>286</locationY>
        <defaultConnectorLabel>dc</defaultConnectorLabel>
        <rules>
            <name>dc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>To</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>m</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>final</targetReference>
            </connector>
            <label>dc</label>
        </rules>
    </decisions>
    <label>air</label>
    <recordCreates>
        <name>Account</name>
        <label>Account</label>
        <locationX>447</locationX>
        <locationY>87</locationY>
        <assignRecordIdToReference>rid</assignRecordIdToReference>
        <connector>
            <targetReference>air_ticket_booking_form</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <description>this is very usefull for who want to fly with out any risk</description>
        <name>air_ticket_booking_form</name>
        <label>air ticket booking form</label>
        <locationX>628</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>decision1</targetReference>
        </connector>
        <fields>
            <name>From</name>
            <dataType>String</dataType>
            <fieldText>From</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To</name>
            <dataType>String</dataType>
            <fieldText>To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>journy_date</name>
            <dataType>Date</dataType>
            <fieldText>journy date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>gender</name>
            <choiceReferences>male1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>gender</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>air_ticket_login</name>
        <label>air ticket login</label>
        <locationX>226</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
        <fields>
            <name>Username</name>
            <dataType>String</dataType>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Password</name>
            <fieldText>Password</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>final</name>
        <label>final</label>
        <locationX>170</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>booking</name>
            <fieldText>thank you for booking ticket</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>air_ticket_login</startElementReference>
    <variables>
        <name>rid</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
